.addAcademic{
   margin-left:27px;
   height:18%;
   width:96%;
   border-radius:5px;
   border:1px solid var(--grey);
   box-shadow:0 10px 24px rgba(0,0,0,0.06);
   z-index:10;

}

.addAcademicInput{
    margin-top: -10px;
    display: flex;
    justify-content: space-evenly;
    align-items: end;
}

#addAcademicTitle{
    margin-left:3%;
    margin-top:1%;
    color:var(--dark);
    font-weight:600;
    margin-bottom:10px;
}

input{
    width:100%;
}


.darkBtn{
    height:41px;
    margin-left:15px;
}



.contentbody {
    margin: 1% 2%;
    height: 75%;
    padding-right:30%;
    overflow-y:auto;
    align-content: start; 
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap:30px;
    row-gap: 20px;
    box-sizing: border-box; 
}
.contentbody::-webkit-scrollbar {
    width: 6px;
}
.contentbody::-webkit-scrollbar-thumb {
    background:var(--dark);
    border-radius: 5px;
}


.card{
    height: 210px; 
    border-radius: 5px;
    padding:10px;
    border:1px solid var(--grey);
    box-shadow: 0 8px 24px rgba(0,0,0,0.12);
    align-items: center;

}

.selected{
    border: 2px solid var(--success);
}

.card-top{
    display: flex;
    justify-content:space-between;
    
}

.branch{
    height:50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:20px;
    font-weight: 700;
    margin-left:20px;
}

.year{
    height:25px;
    width:80px;
    margin-top:8px;
    margin-right:20px;
    padding:5px;
    background:var(--midDark);
    color:var(--light);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:10px;

}
.card-middle{
    padding-top:15px;
    padding-left:20px;
    padding-right:20px;
}

.data-sem-class,.data-batch-count{
    display: flex;
    justify-content: space-evenly;
    gap:20px;
}

.card-btn{
    display: flex;
    justify-content:end;
    margin-top:15px;
    margin-right:11px;
}

.data{
    height:25px;
    width:100%;
    font-size:14px;
    background: var(--grey);
    box-shadow: 0 8px 24px rgba(0,0,0,0.06);
    margin-bottom:10px;
    padding:5px;
    border-radius:5px;
    display: flex;
    justify-content: center;
    align-items: center;
}






.update-btn {
    height:30px;
    width:70px;
    background: var(--dark);
    color: var(--light);
    margin-bottom: 20px;
}

.delete-btn {
    height:30px;
    width:70px;
    background:var(--error);
    color:var(--light);
    
}



