* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: linear-gradient(135deg, var(--midDark), var(--dark));
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-card {
  position: fixed;         
  top: 20px;
  left: 24px;
  display: flex;
  align-items: center;
  z-index: 10;
  background: rgba(255, 255, 255, 0.12);
  backdrop-filter: blur(6px);
  border-radius:15px;
  height: 120px;
}

/* Logo image */
.logo-image img {
  width: 140px;
  height: 140px;
  margin-top:9px;
  object-fit: contain;
}

/* Logo text */
.logo-text h1 {
  font-size: 28px;
  font-weight: 700;
  color: #ffffff;
  margin-top:-8px;
}

.logo-text p {
  font-size: 13px;
  color: rgba(255,255,255,0.75);
  margin: 0;
  margin-right:80px;
}


/* Card */
.box-card {
  background: var(--light);
  width: 400px;
  border-radius: 10px;
  box-shadow: 0 20px 40px rgba(0,0,0,0.25);
  overflow: hidden;
}

/* Header */
.box-header {
  background: var(--dark);
  color: var(--light);
  padding: 18px;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
   letter-spacing: 0.3px;
}

/* Body */
.box-body {
  padding: 22px;
}

form {
  display: flex;
  flex-direction: column;
  margin-top:-10px;
}

/* Inputs */
input {
  padding: 11px;
  margin-top: 14px;
  border-radius: 5px;
  border: 1px solid var(--dark);
  font-size: 14px;
}

input:focus {
  outline: none;
  border-color: var(--dark);
  box-shadow: 0 0 0 2px rgba(27,38,59,0.15);
}

/* Error */
.errorbox {
  font-size: 10px;
  color: var(--error);
  margin-top: 3px;
  margin-left: 3px;
}

/* Actions */
.actions {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

/* Buttons */
button {
  padding: 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-weight: 600;
  transition: 0.2s;
}

.mainBtn {
  background: var(--dark);
  color: var(--light);
  flex: 1;
}

.mainBtn:hover {
  background: var(--midDark);
}

.secondBtn {
  background: var(--midlight);
  color: var(--light);
  flex: 1;
}

button:active {
  transform: scale(0.96);
}

/* Mobile */
@media (max-width: 480px) {
  .box-card {
    width: 100%;
    margin: 15px;
  }
}


.password-wrapper {
  position: relative;
}

.password-wrapper input {
  width: 100%;
  padding-right: 40px; /* space for icon */
}

.password-toggle {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.eye-icon {
  width: 18px;
  height: 18px;
  fill: var(--midDark);
  margin-top: 12px;
}

.password-toggle:hover .eye-icon {
  fill: var(--dark);
}

