html, body {
  height: 100%;
  margin: 0;
  font-family: var(--text);
}

body {
  overflow: hidden;
}

.header{
    height:65px;
    width:100%;
    background: var(--dark);
    display: flex;
    justify-content:space-between;
    align-items: center;
    color:var(--light);
}

.header-right{
    display: flex;
    align-items: center;
    margin-left: 3px;
     
}

img{
    height: 60px;
    width: 60px;
    display: inline;
}

h1{
    margin-left:5px;
    font-size:17px;
    display: inline;
}
