a {
  font-size: 13px;
  color: var(--dark);
  text-decoration: none;
  margin-top: 6px;
}

a:hover {
  text-decoration: underline;
}

/* OTP Section */
.register-otp {
  display: flex;
  align-items:end;
}

.otpClass {
  width:50%;
}

.otpBtnClass {
  height: 41px;
  width:50%;
  background: var(--dark);
  color: var(--light);
  border-radius: 8px;
  padding: 10px;
  font-weight: 600;
  cursor: pointer;
}

.otpBtnClass:hover {
  background: var(--midDark);
}

.otpBtnClass:active {
  transform: scale(0.96);
}
