<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/basic.css">
    <link rel="stylesheet" href="/css/body-border.css">
    <link rel="stylesheet" href="/css/properties.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/snackbar.css">
    <link rel="stylesheet" href="/css/pop-up-box.css">
    <link rel="stylesheet" href="/css/admin-academic.css">


</head>

<body>
    <div class="header">
        <div class="header-right">
            <img src="/assets/images/website-logo.png">
            <h1>Smart Attendance</h1>
        </div>
        <div>
            <button class="lightBtn" id="gotoDashboard">Dashboard</button>
        </div>
    </div>

    <div class="border">
        <div class="border-msg-bg">
            <div class="border-msg">
                Academic Structure
            </div>
        </div>

        <div class="contentbody">

        </div>

        <div class="addAcademic">
            <div id="addAcademicTitle">
                Add New Record
            </div>
            <div class="addAcademicInput">
                <div class="field">
                    <input type="text" id="year" required />
                    <label>Enter Year</label>
                </div>
                <div class="field">
                    <input type="text" id="branch" required />
                    <label>Enter Branch</label>
                </div>
                <div class="field">
                    <input type="text" id="sem" required />
                    <label>Enter Semester</label>
                </div>
                <div class="field">
                    <input type="text" id="className" required />
                    <label>Enter Class Name</label>
                </div>
                <div class="field">
                    <input type="text" id="batch" required />
                    <label>Enter Batch</label>
                </div>
                <button class="darkBtn" id="addAcademic">Add</button>
            </div>
        </div>
    </div>

    <div id="globalModal" class="modal-overlay hidden">
        <div class="modal-box">
            <h3 id="modalTitle">Title</h3>
            <p id="modalMessage">Message</p>

            <div class="modal-actions">
                <button id="modalCancel" class="btn cancel">Cancel</button>
                <button id="modalConfirm" class="btn danger">Confirm</button>
            </div>
        </div>
    </div>


    <script src="/js/pop-up-box.js"></script>
    <script src="/js/snackbar.js"></script>
    <script src="/js/admin-academic.js"></script>




</body>

</html>