<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Smart Attendance Register</title>
  <link rel="stylesheet" href="/css/colors.css">
  <link rel="stylesheet" href="/css/authBase.css">
  <link rel="stylesheet" href="/css/registerForgotPass.css">
  <link rel="stylesheet" href="/css/snackbar.css">

</head>
<body>
  <div class="logo-card">
    <div class="logo-image">
      <img src="/assets/images/website-logo.png">
    </div>
    <div class="logo-text">
      <h1>Smart Attendance</h1>
      <p>The future of classroom attendance.</p>
    </div>
  </div>

  <div class="box-card">
    <div class="box-header" id="box-title">Forgot Password</div>
    <div class="box-body">
    

      <form id="boxForm">
        <input type="text" id="userId" placeholder="Enter admin id" required>
        <div id="errorBoxUserId" class="errorbox" ></div>
        
        <input type="email" id="email" placeholder="Enter email id" required>
        <div id="errorBoxEmail" class="errorbox" style="display:none;"></div>

        <div class="register-otp">
          <input type="text" id="otp" class="otpClass" placeholder="Enter OTP" required>
          <button type="button" id="otpBtn" class="otpBtnClass">Send OTP</button>
        </div>
        <div id="errorBoxOtp" class="errorbox" style="display:none;"></div>

        <div class="password-wrapper">
          <input type="password" id="password" placeholder="Enter password" required>
           <span class="password-toggle" onclick="togglePassword('password', this)">
            <img src="/assets/icons/eye.svg" class="eye-icon" alt="toggle password">
          </span>
        </div>
        <div id="errorBoxPwd" class="errorbox" ></div>

        <input type="password" id="confirmPassword" placeholder="Confirm password" required>
        <div id="errorBoxCnfmPwd" class="errorbox" ></div>

        <div class="actions">
          <button type="button" class="secondBtn" id="submitBtn">Login</button>
          <button type="button" class="mainBtn" id="registerBtn" >Change Password</button>
        </div>

      </form>
    </div>
  </div>



  <script src="/js/forgotpassword.js"></script>
  <script src="/js/snackbar.js"></script>
  <script src="/js/password-toggle.js"></script>


</body>
</html>
