<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Smart Attendance Register</title>
  <link rel="stylesheet" href="/css/properties.css">
  <link rel="stylesheet" href="/css/authBase.css">
  <link rel="stylesheet" href="/css/registerForgotPass.css">
  <link rel="stylesheet" href="/css/snackbar.css">

</head>

<body>

  <div class="logo-card">
    <div class="logo-image">
      <img src="/assets/images/website-logo.png">
    </div>
    <div class="logo-text">
      <h1>Smart Attendance</h1>
      <p>The future of classroom attendance.</p>
    </div>
  </div>

  <div class="box-card">
    <div class="box-header" id="box-title">Admin Register</div>
    <div class="box-body">


      <form id="registerForm">
        <div class="field">
          <input type="text" id="userId" required />
          <label>Enter admin id</label>
        </div>
        <div id="errorBoxUserId" class="errorbox"></div>
        <div class="field">
          <input type="text" id="name" required />
          <label>Enter your name</label>
        </div>
        <div id="errorBoxName" class="errorbox" style="display:none;"></div>
        <div class="field">
          <input type="text" id="email" required />
          <label>Enter email id</label>
        </div>
        <div id="errorBoxEmail" class="errorbox" style="display:none;"></div>

        <div class="register-otp">
          <div class="field">
            <input type="text" id="otp" class="otpClass" required />
            <label>Enter OTP</label>
          </div>
          <button type="button" id="otpBtn" class="otpBtnClass">Send OTP</button>
        </div>

        <div id="errorBoxOtp" class="errorbox" style="display:none;"></div>
        <div class="field">
          <input type="text" id="collegeName" class="otpClass" required />
          <label>Enter college name</label>
        </div>
        <div id="errorBoxCollegeName" class="errorbox"></div>

        <div class="password-wrapper">
          <div class="field">
            <input type="password" id="password" required />
            <label>Enter password</label>
          </div>
          <span class="password-toggle" onclick="togglePassword('password', this)">
            <img src="/assets/icons/eye.svg" class="eye-icon" alt="toggle password">
          </span>
        </div>

        <div id="errorBoxPwd" class="errorbox"></div>
        <div class="field">
          <input type="password" id="confirmPassword" required />
          <label>Confirm password</label>
        </div>
        <div id="errorBoxCnfmPwd" class="errorbox"></div>


        <div class="actions">
          <button type="button" class="secondBtn" id="loginBtn">Login</button>
          <button type="button" class="mainBtn" id="registerBtn">Register</button>
        </div>

      </form>
    </div>
  </div>



  <script src="/js/register.js"></script>
  <script src="/js/snackbar.js"></script>
  <script src="/js/password-toggle.js"></script>


</body>

</html>