<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/basic.css">
    <link rel="stylesheet" href="/css/body-border.css">
    <link rel="stylesheet" href="/css/properties.css">
    <link rel="stylesheet" href="/css/snackbar.css">
    <link rel="stylesheet" href="/css/adduser.css">


</head>

<body>
    <div class="header">
        <div class="header-right">
            <img src="/assets/images/website-logo.png">
            <h1>Smart Attendance</h1>
        </div>
        <div>
            <button class="lightBtn" id="gotoDashboard">Dashboard</button>
        </div>
    </div>

    <div class="border">
        <div class="border-msg-bg">
            <div class="border-msg">
                Update Student
            </div>
        </div>

        <div class="contentbody">
            <form>
                <div class="field">
                    <input type="text" id="userId" placeholder=" "/>
                    <label>Enter student id</label>
                </div>
                <div class="field">
                    <input type="text" id="name" required />
                    <label>Enter student name</label>
                </div>
                <div class="field">
                    <input type="text" id="enrollment" required />
                    <label>Enter student enrollment no</label>
                </div>
                <div class="field">
                    <input type="text" id="email" required />
                    <label>Enter student email id</label>
                </div>
                <div class="field">
                    <div class="custom-dropdown">
                        <input type="text" id="yearInput" required readonly />
                        <label for="yearInput">Select year</label>
                        <ul id="yearOption" class="options"></ul>
                    </div>
                </div>
                <div class="field">
                    <div class="custom-dropdown">
                        <input type="text" id="branchInput" required readonly />
                        <label for="branchInput">Select branch</label>
                        <ul id="branchOption" class="options"></ul>
                    </div>
                </div>
                <div class="field">
                    <div class="custom-dropdown">
                        <input type="text" id="semInput" required readonly />
                        <label for="semInput">Select semester</label>
                        <ul id="semOption" class="options"></ul>
                    </div>
                </div>
                <div class="field">
                    <div class="custom-dropdown">
                        <input type="text" id="classInput" required readonly />
                        <label for="classInput">Select class</label>
                        <ul id="classOption" class="options"></ul>
                    </div>
                </div>
                <div class="field">
                    <div class="custom-dropdown">
                        <input type="text" id="batchInput" required readonly />
                        <label for="batchInput">Select batch</label>
                        <ul id="batchOption" class="options"></ul>
                    </div>
                </div>


                <div class="field">
                    <input type="text" id="password" required />
                    <label>Enter password</label>
                </div>
                <button type="button" class="darkBtn" id="updateStudentBtn">Update Student</button>
            </form>
        </div>
    </div>
    <div id="app"
        th:data-enrollment-no="${enrollmentNo}">
    </div>
    <script src="/js/snackbar.js"></script>
    <script src="/js/password-toggle.js"></script>
    <script src="/js/update-student.js"></script>


</body>

</html>