<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/basic.css">
    <link rel="stylesheet" href="/css/body-border.css">
    <link rel="stylesheet" href="/css/properties.css">
    <link rel="stylesheet" href="/css/snackbar.css">
    <link rel="stylesheet" href="/css/adduser.css">


</head>

<body>
    <div class="header">
        <div class="header-right">
            <img src="/assets/images/website-logo.png">
            <h1>Smart Attendance</h1>
        </div>
        <div>
            <button class="lightBtn" id="gotoDashboard">Dashboard</button>
        </div>
    </div>

    <div class="border">
        <div class="border-msg-bg">
            <div class="border-msg">
                Update Teacher
            </div>
        </div>

        <div class="contentbody">
            <form>
                <div class="field">
                    <input type="text" id="userId" required />
                    <label>Enter teacher id</label>
                </div>
                <div class="field">
                    <input type="text" id="name" required />
                    <label>Enter teacher name</label>
                </div>
                <div class="field">
                    <input type="text" id="email" required />
                    <label>Enter teacher email id</label>
                </div>

                <div class="field">
                    <input type="text" id="password" required />
                    <label>Enter password</label>
                </div>
                <button type="button" class="darkBtn" id="updateTeacherBtn">Update Teacher</button>
            </form>
        </div>
    </div>
    <div id="app"
        th:data-teacher-id="${teacherId}">
    </div>
    <script src="/js/snackbar.js"></script>
    <script src="/js/password-toggle.js"></script>
    <script src="/js/update-teacher.js"></script>


</body>

</html>